body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background: repeating-linear-gradient(
        90deg,
        #260b12 0px,
        #260b12 35px,
        #321018 35px,
        #321018 70px
    );
    font-family: "Pixelify Sans", sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.game {
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shop {
    width: 25%;
    background: rgba(0, 0, 0, 0.25);
    border-left: 4px solid #1b070b;
    box-sizing: border-box;
}

.shop h1 {
    margin: 20px 0;
    text-align: center;
    color: white;
    font-size: 32px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#steak {
    width: 256px;
    image-rendering: pixelated;
    cursor: pointer;
    user-select: none;
    transform-origin: center;
}

.counter {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;

    color: white;

    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
