@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;

    background-image: url("textures/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Lato", sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.game {
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shop {
    width: 25%;
    background: rgba(0, 0, 0, 0.25);
    border-left: 4px solid #1b070b;
    box-sizing: border-box;
}

.shop h1 {
    margin: 20px 0;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 900;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#steak {
    width: 256px;
    image-rendering: auto;
    cursor: pointer;
    user-select: none;
    transform-origin: center;
}

.counter {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;

    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 900;

    color: white;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
